<!-- error.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
</head>
<body>
  <h1><%= message %></h1>
  <button onclick="goBack()">OK</button>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>
</html>