<footer>
    <div class="text">
        <div class="container">
            <div class="other">
                <div class="introduce">
                    <h4>VỀ CHÚNG TÔI - DUYMINH WATCH</h4>
                    <p>Kingkong Sport Wear là thương hiệu Local Brand chuyên cung cấp về thời trang Oversize. Chúng tôi tự tin là người dẫn đầu về thời trang cho Gymmer tốt nhất Việt Nam. Các sản phẩm của chúng tôi bao gồm: Áo thun, quần short, áo tanktop (ba lỗ), quần jean,...</p>
                </div>
                <div class="new">
                    <h4>CHÍNH SÁCH CỦA CHÚNG TÔI</h4>
                    <div class="new-child">
                        <a href="">Hướng dẫn cài đặt</a>
                    </div>
            
                    <div class="new-child">
                        <a href="">Chính sách bảo mật</a>
                    </div>
            
                    <div class="new-child">
                        <a href="">Chính sách giao hàng</a>
                    </div>
            
                    <div class="new-child">
                        <a href="">Chính sách đổi trả</a>
                    </div>
            
                    <div class="new-child">
                        <a href="">Điều khoản dịch vụ</a>
                    </div>
                </div>
                <div class="contact">
                    <h4>THÔNG TIN LIÊN HỆ</h4>
                    DUYMINH - Thương Hiệu Số 1 Việt Nam
                    <p>Hotline: 0981.207.532 (Có Zalo)</p>
                    <p>Email: duyminh@gmail.com</p>
                    <p>Add: NHà Nội.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer container">
        <p>Copyright 2023 &copy; DUYMINH</p>
        <ul>
            <li><i class="fab fa-cc-visa"></i></li>
            <li><i class="fab fa-cc-paypal"></i></li>
            <li><i class="fab fa-cc-stripe"></i></li>
            <li><i class="fab fa-cc-mastercard"></i></li>
            <li><i class="fas fa-money-bill-wave-alt"></i></li>
        </ul>
    </div>
</footer>