<div class="admin-left">
    <ul class="admin-down">
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/admin/cartegoryList">Danh mục sản phẩm</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/admin/menuList">Menus</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/admin/productList">Sản phẩm</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/admin/sliderList">Slider</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/admin/settingList">Setting</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/userList">Danh sách nhân viên</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/roleList">Danh sách vai trò</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/orderList">Danh sách đơn hàng</a>
        </li>
    </ul>
</div>